node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.DS_Store
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
frontend/node_modules
api/Service/data/answers.json
api/results.csv
Dataset_tcc_enade.csv
relatorio_desempenho_ia.png
comparativo_modelos_llm.png
comparativo_metricas_avancadas.png
